.trustedBy {
  background-color: #fafafa;
  height: auto;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: rgb(167, 167, 167);
    font-weight: 500;

    img {
      height: 50px;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
}
